In [6]:
import pandas as pd 
import numpy as np 
from datetime import datetime
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from sklearn import preprocessing

# Reading in data
def parse(x):
    return datetime.strptime(x, '%m/%d/%Y')
march2020 = pd.read_csv('march2020clean.csv', sep = ',', date_parser = parse)


# Popping label and date columns
label = march2020.pop('closePrice')

date = march2020.pop('date')

# Dropping features that aren't highly correlated with our label
march2020 = march2020.drop(['openPrice', 'highPrice', 'lowPrice', 'totalSoybeanMealSupply',
         'totalSoybeanMealDemand', 'soybeanOilSupply', 
         'soybeanOilDemand', 'sunflowerSeedPrice', 'peanutsPrice', 'flaxseedPrice',
         'cottonseedOilPrice', 'sunflowerseedOilPrice', 'canolaOilPrice', 'peanutOilPrice',
        'Unnamed: 0'
        ], axis = 1) 

march2020.head()

months = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 
          'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10,
         'November': 11, 'December': 12}

Month = list(march2020['Month'])

def encode(l):
    encoded = []
    for m in Month:
        for key, value in months.items():
            if key == m:
                encoded.append(value)
    return encoded

Month = encode(Month)

march2020['Month'] = Month

month = march2020.pop('Month')

march2020.head()

,canolaPrice,soybeanOilPrice,cornOilPrice,soybeanMealPrice,cottonseedmealPrice,sunflowerseedMealPrice,linseedMealPrice
0,17.2,33.43,34.46,313.52,228.75,165.0,205.0
1,17.2,33.43,34.46,313.52,228.75,165.0,205.0
2,17.2,33.43,34.46,313.52,228.75,165.0,205.0
3,17.2,33.43,34.46,313.52,228.75,165.0,205.0
4,17.2,33.43,34.46,313.52,228.75,165.0,205.0

In [3]:
values = data_set.values
values = values.astype('float32')
'''
pyplot.figure()
for i,col in enumerate(interest):
    ax = pyplot.subplot(len(interest), 1, i+1)
    pyplot.plot([datetime.strptime(x,'%m/%d/%Y').date() for x in values[:,0]],values[:, col])
    pyplot.title(data_set.columns[col], y=0.7, loc='right')
    ax.locator_params(axis='y', nbins=4)
    ax.locator_params(axis='x', nbins=6)
pyplot.show()
'''

scaler = StandardScaler()
scaled = scaler.fit_transform(values)

In [4]:
scaled

array([[ 0.5714134 ,  1.6350527 ,  2.7411797 , ..., -0.7701453 ,
        -0.43717757, -1.328931  ],
       [ 0.74994004,  1.6350527 ,  2.7411797 , ..., -0.7701453 ,
        -0.43717757, -1.328931  ],
       [ 0.69500875,  1.6350527 ,  2.7411797 , ..., -0.7701453 ,
        -0.43717757, -1.328931  ],
       ...,
       [-0.36928457, -1.9054799 , -0.44696373, ..., -1.2578422 ,
        -1.7123038 , -0.25978625],
       [-0.57527685, -1.9054799 , -0.44696373, ..., -1.2578422 ,
        -1.7123038 , -0.25978625],
       [-0.712605  , -1.9054799 , -0.44696373, ..., -1.2578422 ,
        -1.7123038 , -0.25978625]], dtype=float32)